.StyledForm1{
    width:900px;
    background:#fff;    
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 6px 16px rgb(148 159 178 / 44%);
    border-radius: 10px;
    padding: 1.5rem 0.75rem;
}
.StyledForm1__inner{ width: 100%;}
.StyledForm1 input{
    border-radius: 6px;
    display: inline;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.4rem 0.4rem;
    padding:0.5rem 0.75rem ;
    width:40%;
    font-size: 1rem;
}

.StyledForm1  button{
    background:#017e7e;
    border: 1px solid #017e7e;
    color: #fff;
    font-size: 1.25rem;
    padding:0.5rem 2.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.StyledForm1  button:hover{
    background: transparent;
    color: #017e7e;
}

