.navbar{    
    width: calc(100% - 30px);
    margin: 10px 15px;
    border-radius: 5px;
    background: #017e7e;}
.navbar-light .navbar-brand a
{
    color: rgb(255 255 255);
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
}  
.nav_bar_wrapper{
    justify-content: flex-end;
}

.nav_bar_wrapper a{
    padding-right: 20px;
    font-size: large;
    text-decoration: none;
    color: rgb(255 255 255);
}
.nav_bar_wrapper a:hover{
    color: #fcbf02;
}
.navbar>.container{
    padding:0px 20px;
    max-width: 100%;
}
.logut-span{
    cursor: pointer;
    color:  #27eefc;;
}
