

.covidData__live .card{
    width: 33.33%;
    border: 0;
    box-shadow: none;
    border-radius: 8px;
    padding: 0.001rem;
    align-items: center;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: transparent;
    padding: 0 1rem;
}
.card_name{
    font-size: 20px;
    line-height: 0.9;
    font-weight: 700;
    color: #525f81;
}

.card_name > span{
    font-size: 14px;
}



.card_total{
    font-size: 30px;
    color: #000;
}
 


.card__main{
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 5%);
    padding:1.5rem;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #017e7e;
}
.covidData {
    width:900px;
    background:#fff;    
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 1.5rem 0.75rem
  }

.covidData__input input {
    border-radius: 6px;
    display: inline;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.4rem 0.4rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-size: 1rem;
  }
.covidData__input button {
    background:#017e7e;
    border: 1px solid #017e7e;
    color: #fff;
    font-size: 1.25rem;
    padding:0.5rem 2.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .covidData__input button:hover{
    background: transparent;
    color: #017e7e;
}
  .covidData__input {
    width: 400px;
    max-width: 100%;
}

.icon {
    width: 5rem;
    height: 5rem;
    max-width: 100%;
    flex: 0 0 auto;
    margin-right: 15px;
    display: inline-flex;
    padding: 7px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 32px;
}

.gradient-1 {
    background: #3398fb;
    background: -moz-linear-gradient(left, #3398fb 0%, #8553ee 100%);
    background: -webkit-linear-gradient(left, #3398fb 0%, #8553ee 100%);
    background: linear-gradient(to right, #3398fb 0%, #8553ee 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3398fb', endColorstr='#8553ee', GradientType=1);
}

.gradient-2 {
    background: #36e1b4;
    background: -moz-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
    background: -webkit-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
    background: linear-gradient(to right, #36e1b4 0%, #11cae7 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#36e1b4', endColorstr='#11cae7', GradientType=1);
}

.gradient-3 {
    background: #ffbf31;
    background: -moz-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
    background: -webkit-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
    background: linear-gradient(to right, #ffbf31 0%, #ff890e 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf31', endColorstr='#ff890e', GradientType=1);
}

.gradient-4 {
    background: #23bdb8;
    background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
    background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#23bdb8', endColorstr='#43e794', GradientType=1);
}

.gradient-5 {
    background: #9a56ff;
    background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
    background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
    background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a56ff', endColorstr='#e36cd9', GradientType=1);
}

.gradient-6 {
    background: #f48665;
    background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
    background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
    background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48665', endColorstr='#fda23f', GradientType=1);
}

.gradient-7 {
    background: #e36cd9;
    background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
    background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
    background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36cd9', endColorstr='#fe60ae', GradientType=1);
}

.gradient-8 {
    background: #a15cff;
    background: -moz-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
    background: -webkit-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
    background: linear-gradient(to right, #a15cff 0%, #ce82fd 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#a15cff', endColorstr='#ce82fd', GradientType=1);
}

.gradient-9 {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.gradient-10 {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.gradient-11 {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.gradient-12 {
    background: linear-gradient(87deg, #942c14 0, #e60c0c 100%) !important;
}

.gradient-13 {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

.gradient-14 {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
}

.gradient-15 {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
}

.gradient-16 {
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
}